.header {
  height: 60px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 112px 0 112px;
}

.header img {
  width: 140px;
  height: 40px;
}

.header li a {
  text-decoration: none;
  color: #ffff;
  margin-left: 32px;
}

.header li {
  list-style-type: none;
}

.header li a:hover {
  color: orange;
}

.logout-button {
  margin-left: 20px;
  background-color: #fcd191;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: rgb(94, 83, 83);
  font-weight: bold;
  cursor: pointer;
}
